[submodule "scalable-video-hosting-backend"]
	path = scalable-video-hosting-backend
	url = git@github.com:thanatadcs/scalable-video-hosting-backend.git
[submodule "scalable-video-hosting-worker"]
	path = scalable-video-hosting-worker
	url = git@github.com:thanatadcs/scalable-video-hosting-worker.git
[submodule "scalable-video-hosting-frontend"]
	path = scalable-video-hosting-frontend
	url = git@github.com:thanatadcs/scalable-video-hosting-frontend.git
